<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Blur &amp; Transform Text</title>
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet"><link rel="stylesheet" href="static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="text-container">
    <span class="reg-text">AccessCounter : </span>
    <span class="letter">{{ T1 }}</span><span class="letter">{{T2}}</span><span class="letter">{{T3}}</span><span class="letter">{{T4}}</span><span  class="letter"></span>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="static/js/script.js"></script>

</body>
</html>
